[book]
authors = ["shun suzuki"]
language = "en"
multilingual = true
title = "AUTD3 Developers Manual v24.0.0"

src = "src"
destination = "book"

[preprocessor.index]
[preprocessor.links]

[preprocessor.toc]
command = "mdbook-toc"
renderer = ["html"]
marker = "[[_TOC_]]"
max-level = 3

[preprocessor.open-on-gh]
command = "mdbook-open-on-gh"
renderer = ["html"]

[output.html]
mathjax-support = false
default-theme = "navy"
preferred-dark-theme = "navy"
git-repository-url = "https://github.com/shinolab/autd3-doc"
git-branch = "main"
curly-quotes = true
additional-js = ["./theme/codeblock_filename.js", "./theme/lightbox-plus-jquery.min.js"]
additional-css = ["./theme/codeblock_filename.css", "./theme/lightbox.css", "open-in.css"]
open-on-text = "Found a bug? [Edit this page on GitHub.]"

[output.html.playground]
runnable = false

[output.html.fold]
enable = true
level = 1

[preprocessor.katex]
after = ["links"]
macros = "katex_macro.txt"

[language-en]
src = "src/en"
destination = "book/en"

[language-jp]
src = "src/jp"
destination = "book/jp"

[output.html.code.hidelines]
cs = "~"
cpp = "//~"
python = "~"
